.BookPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #313574;
    border-radius: 20px;
}
.BookInfo{
    width:100%;
    height:400px;
    display:flex;
}
.BookView {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .BookView button {
        width: 200px;
        margin: 1%;
        margin-left: 55%;
        border-radius: 10px;
    }

        .BookView button img {
            width: 25px;
            margin-left: -25px;
        }
.Info{
    width:100%;
}
.CoverBook {
    border: 2px double black;
    width: 200px;
    height: 300px;
    margin-left: 55%;
}
.BookComments {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.BookTextComment {
    width: 100%;
    height: auto;
    border: 3px double gray;
    border-radius: 25px;
    margin-top: 1%;
}
.SendText {
    width: 100%;
    padding: 1%;
}
.Post {
    float: right;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-color: transparent;
    margin-right: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.Post img {
    width: 30px;
}
.Comments{
    width:100%;
}