.BookPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #313574;
    border-radius: 20px;
}
.BookInfo{
    width:100%;
    height:400px;
    display:flex;
}
.BookView {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
    .BookView button {
        width: 200px;
        margin: 1%;
        margin-left: 55%;
        border-radius: 10px;
    }

        .BookView button img {
            width: 25px;
            margin-left: -25px;
        }
.Info {
    width: 100%;
    margin-top: 50px;
}
.CoverBook {
    border: 2px double black;
    width: 200px;
    height: 300px;
    margin-left: 55%;
}
.BookComments {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.BookTextComment {
    width: 100%;
    border: 3px double gray;
    border-radius: 25px;
    margin-top: 1%;
    min-height: 55px;
    background-color: white;
}
.SendText {
    width: 100%;
    padding: 1%;
}
.Post {
    float: right;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-color: transparent;
    margin-right: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1%;
}
.Post img {
    width: 30px;
}
.Comments{
    width:100%;
}
.CountGrade {
    display: flex;
    margin-top: 5px;
}
    .CountGrade img {
        width: 25px;
    }
.SubBook {
    display: flex;
    align-items: center;
}
    .SubBook img {
        width: 30px;
    }
    .SubBook p {
        margin: 0;
    }
.Quote img {
    width: 15px;
}
.Quote a {
    font-style: italic;
    color: #242424;
}
/*======================Star Rating========================*/
.rating-area {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

    .rating-area:not(:checked) > input {
        display: none;
    }

    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area:not(:checked) > label:before {
            content: '★';
        }

    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area > label:active {
    position: relative;
}