h1{
    color:black;
}
.Change {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .Change button {
        border-radius: 20px;
    }
#Avatar {
    display: none;
}

#AvatarImg {
    margin-left: 5%;
}

    #AvatarImg img {
        border: 2px double black;
        width: 150px;
        height: 150px;
        border-radius: 80px;
        cursor: pointer;
    }
input {
    border-radius: 20px;
}
.Status {
    background-color: white;
    border-radius: 20px;
    min-height: 80px;
}
.Error {
    color: #8e0707;
    margin: 0;
    font-size: 8pt;
    margin-left: 10%;
}
p {
    margin-top: 10px;
}