h1{
    color:black;
}
.Change {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Change button{
    margin-top: 10%;
}
#Avatar {
    display: none;
}

#AvatarImg {
    margin-left: 5%;
}

    #AvatarImg img {
        border: 2px double black;
        width: 150px;
        height: 150px;
        border-radius: 80px;
        cursor: pointer;
    }