/*=================== Comment ===============*/
.CommentUser {
    display: flex;
}

#CommentDelete {
    float: right;
    width: 14px;
    margin: 5px;
    height: 14px;
    cursor: pointer;
}

#EditComment {
    float: right;
    width: 14px;
    margin: 5px;
    height: 14px;
    cursor: pointer;
}

#AnswerComment {
    float: right;
    width: 14px;
    margin: 5px;
    height: 14px;
    cursor: pointer;
}

#CommentAnswerVeiw {
    display: flex;
    width: 100%;
    height: auto;
    visibility: hidden;
}

#CloseAnswer {
    margin-left: auto;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

#PhotoComment {
    border: 2px double black;
    vertical-align: top;
    margin: 1%;
    border-radius: 150px;
    width: 35px;
    height: 35px;
}

#CommentInfo {
    color: black;
    font-size: 10pt;
    display: flex;
    align-items: flex-end;
}

    #CommentInfo p {
        color: black;
        margin: 0;
    }

    #CommentInfo i {
        font-size: 7pt;
        margin-left: 0.5%;
    }
