/*=================== Library ===============*/
#Library {
    display: flex;
    flex-wrap: wrap;
}

.Books {
    cursor: pointer;
    margin: 2%;
    width: 150px
}
.Star {
    display: flex;
    justify-content: center;
}
    .Star img {
        height: 25px;
        width: 25px;
    }
    .Star p {
        margin: 0;
    }
#Genry {
    margin-right: 1%;
    border-radius: 20px;
}

#CoverName {
    width: 150px;
    height: 250px;
}

#Author {
    color: black;
    display: flex;
    justify-content: center;
    margin: 0;
}

#Title {
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14pt;
    margin: 0;
}

#SearchAllBook {
    height: 25px;
    border-radius: 20px;
}

#SearchBook {
    background-color: transparent;
    width: 30px;
    border-color: transparent;
    margin-right: 2%;
    height: 25px;
    align-items: center;
    justify-content: center;
}
label {
    margin-right: 1%;
    margin-left: 0.5%;
}
