#UserPage {
    background-color: #313574;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    border-radius: 20px;
}

#ImagePostFile {
    float: right;
    margin-right: 1%;
    margin-top: -0.4%;
}

    #ImagePostFile img {
        width: 30px;
        height: 30px;
    }

#UserBooks {
    border: 2px double black;
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    height: 100px;
    overflow: overlay;
    border-radius: 20px;
}

.Book {
    margin-left: 2px;
}

#UserBookImg {
    height: 95px;
    width: 60px;
    cursor: pointer;
}

#OnlineFreandsPhoto {
    border: 2px double black;
    border-radius: 150px;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.idOnlineFreand {
    margin: 2%;
}

#UserPhoto {
    border: 2px double black;
    margin: 2%;
    border-radius: 150px;
    width: 300px;
    height: 300px;
}

#UserAvatar {
    margin: 2%;
    display: inline-block;
}

#UserInformations {
    width: 70%;
    float: right;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}
#UName {
    color: black;
    margin-top: 5%;
}

#SendPost {
    border: 2px double black;
    display: flow-root;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    border-radius: 20px;
}

#Text {
    width: 100%;
    height: auto;
    border: 3px double gray;
    border-radius: 25px;
    margin-top: 1%;
}

#ImagePost {
    display: none;
}

#SendPost button {
    float: right;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-color: transparent;
    margin-right: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

    #SendPost button img {
        width: 30px;
        height: 30px;
        margin-right: 2%;
    }

#OnlineFreands {
    width: 250px;
    border: 2px double black;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
#TitleFreand {
    margin: 1%;
    background-color: #08206c;
    width: 250px;
    height: 25px;
    border-radius: 7px;
}
