/*=================== User Library===============*/
#UserBook {
    max-height: 215px;
    overflow: overlay;
}
#TextColor {
    margin-right: 1%;
}
#BackgrountColor {
    margin-right: 1%;
}
#size {
    margin-right: 1%;
}
#AddBookLibrary {
    background-color: transparent;
    border: none;
}

    #AddBookLibrary img {
        width: 30px;
    }

#TitleBook {
    margin: 1%;
    background-color: #08206c;
    width: 250px;
    height: 25px;
    border-radius: 7px;
}

#UserLibrary book {
    margin: 1%;
    display: block;
    width: 250px;
    border: 2px double black;
    padding: 6px;
    border-radius: 10px;
}
    #UserLibrary book::-webkit-scrollbar {
        width: 6px;
    }
    #UserLibrary book::-webkit-scrollbar-track {
        background-color: transparent;
    }
    #UserLibrary book::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 20px;
    }

        #UserLibrary book::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

.BookItem {
    cursor: pointer;
    margin-top: 2%;
    height: 75px;
    align-items: center;
    border: 2px double black;
    display: flex;
    border-radius: 10px;
}

    .BookItem img {
        width: 45px;
    }

#TextContent {
    width: 100%;
    color: black;
    white-space: pre-line;
}

    #TextContent p {
        text-indent: 20px;
        margin: 2%;
    }

#RadioButtonGroup {
    display: inline-block;
    overflow: hidden;
}

#BackgrountColorText {
    margin-left: 3%;
    background-color: antiquewhite;
}

#RadioButton {
    display: inline-block;
    float: left;
}

#RadioButtonGroup input[type=radio] {
    display: none;
}

#RadioButtonGroup {
    display: flex;
    padding: 0px 15px;
    line-height: 34px;
    border-right: none;
    user-select: none;
}

    #RadioButtonGroup img {
        cursor: pointer;
        width: 25px;
    }

    #RadioButtonGroup input[type=radio]:checked + label {
        border: 1px double black;
    }
#Interval {
    content: "";
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
}
.Dialog {
    width: 270px;
    display: flex;
    position: absolute;
    border-radius: 35px;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background: #313574;
    visibility: hidden;
    margin: 0;
}
    .Dialog img {
        width: 30px;
        height: 30px;
        margin-right: 5%;
        cursor:pointer;
    }
#TextComment {
    width: 100%;
    float: left;
    border: 3px double gray;
    border-radius: 25px;
    background: white;
}