<link rel="stylesheet" href="~/css/userlibrary.css" asp-append-version="true" />
<div style="display: flex;">
    <div id="UserLibrary">
        <div>
            <p id="TitleBook"><b>My Books</b></p>
            <book id="UserBook">

            </book>
        </div>
        <div>
            <p id="TitleBook"><b>My Library</b></p>
            <book id="LibraryUser">

            </book>
        </div>
    </div>
    <div id="BackgrountColorText">
        <div id="TextContent">
            
        </div>
    </div>
    <dialog class="Dialog" id="Dialog">
        <div id="TextComment" contenteditable="true"></div>
        <img id="SendCommentImg" src="/icons/send_FILL0_wght400_GRAD0_opsz48.png">
    </dialog>
</div>
<script src="/js/userlibrary.js"></script>
