<div style="display: flex;">
    <div id="UserLibrary">
        <div>
            <p id="TitleBook"><b>My Books</b></p>
            <book id="UserBook">

            </book>
        </div>
        <div>
            <p id="TitleBook"><b>My Library</b></p>
            <book id="LibraryUser">

            </book>
        </div>
    </div>
    <div id ="TextContent" style="margin-left: 3%;">

    </div>
</div>
<script src="/js/userlibrary.js"></script>
