
<section id="FreandPage">
    <div id="FreandList">
        <p id="TitleFreand"><b>Freands</b></p>
        <freands id="Freand">

        </freands>
    </div>
    <post id="post">

    </post>
</section>
 <script src="/js/freands.js"></script>
