
<section id="FreandPage">
    <div id="FreandList">
        <p id="TitleFreand"><b>Freands</b></p>
        <freands id="Freand">

        </freands>
    </div>
    <div style="display: inline; background-color:purple">

    </div>
</section>
 <script src="/js/freands.js"></script>
