
<section id="FreandPage">
    <div id="FreandList">
        <p id="TitleFreand"><b>Freands</b></p>
        <freands id="Freand">

        </freands>
    </div>
    <post id="post" style="width: 100%; margin: 5%; display: block; background-color: #313574;">

    </post>
</section>
 <script src="/js/freands.js"></script>
