@{
    var user = ViewData["AuthUser"] as User;
}
<link rel="stylesheet" href="~/css/userpage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/comment.css" asp-append-version="true" />
<section id="UserPage">
    <div id="UserAvatar">
        @if(!String.IsNullOrEmpty(user?.PhotoName))
        {
            <img id="UserPhoto" src="/img/@user.PhotoName"/>
        }
        else
        {
            <img id="UserPhoto" src="/icons/android_contacts_FILL0_wght400_GRAD0_opsz48.png">
        }
        <p>@user?.Status</p>
        <p id="TitleFreand"><b>Online Freands</b></p>
        <online id="OnlineFreands"></online>
    </div>
    <div id="UserInformations">
        <div>
          <h1 id="UName">@user?.Name @user?.Surname</h1>
        </div>
        <books id="UserBooks">

        </books>
        <div id="SendPost">
            <textarea id="Text" contenteditable="true"></textarea>
            <button id="Post">
                <img src="/icons/send_FILL0_wght400_GRAD0_opsz48.png"/>
            </button>
            <button type="button" id="Title">
                 <img src="/icons/title_FILL0_wght400_GRAD0_opsz48.png"/>
            </button>
            <input type="file" id="ImagePost" accept="image/*" multiple>
            <label for="ImagePost" id="ImagePostFile">
                <img src="/icons/image_FILL0_wght400_GRAD0_opsz48.png"/>
            </label>
        </div>
        <post id="post"></post>
    </div>
 </section>
 <script src="~/js/user.js"></script>
