@{
    var user = ViewData["AuthUser"] as User;
    var freands = ViewData["Freands"] as String;
    var library = ViewData["Library"] as String;
    var userlibrary = ViewData["UserLibrary"] as String;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoonBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoonBookWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoonBook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Library">Library</a>
                        </li>
                    </ul>
                    @if(freands == "Ok")
                    {
                          <input id="search_user_text" type="text">
                          <button id="search_user">
                              <img src="/icons/search_FILL0_wght400_GRAD0_opsz48.png" style=" display: flex; justify-content: center; width: 20px; height: 20px; margin-right: 5%;"/>
                          </button>
                    }
                    @if(library == "Ok")
                    {
                        <input id="AlpBook" value="Alphabet" type="checkbox">
                        <label for="AlpBook" style="margin-right: 1%">Alphabet</label>
                        <input id="DateBook" value="Date" type="checkbox">
                        <label for="DateBook" style="margin-right: 1%" >Date</label>
                        <select id="Genry">
                            <option selected="selected">Choose Genry</option>
                            <option value="Prose">Prose</option>
                            <option value="Poetry">Poetry</option>
                            <option value="Lyrics">Lyrics</option>
                            <option value="Memoirs">Memoirs</option>
                            <option value="History">History</option>
                            <option value="Detective">Detective</option>
                            <option value="Adventures">Adventures</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Cyberpunk">Cyberpunk</option>
                            <option value="Publicism">Publicism</option>
                            <option value="Events">Events</option>
                            <option value="Review">Review</option>
                            <option value="Criticism">Criticism</option>
                            <option value="Philosophy">Philosophy</option>
                            <option value="Religion">Religion</option>
                            <option value="Esoterics">Esoterics</option>
                            <option value="Occultism">Occultism</option>
                            <option value="Mystic">Mystic</option>
                            <option value="Horror">Horror</option>
                            <option value="Politics">Politics</option>
                            <option value="Erotica">Erotica</option>
                            <option value="Love story">Love story</option>
                            <option value="Natural science">Natural science</option>
                            <option value="Humor">Humor</option>
                            <option value="Parodies">Parodies</option>
                            <option value="Translations">Translations</option>
                            <option value="Fairy tales">Fairy tales</option>
                            <option value="Dramaturgy">Dramaturgy</option>
                            <option value="Postmodernism">Postmodernism</option>
                            <option value="Metamodernism">Metamodernism</option>
                        </select>
                        <input id="SearchAllBook" type="text">
                        <button id="SearchBook">
                            <img src="/icons/search_FILL0_wght400_GRAD0_opsz48.png" style=" display: flex; justify-content: center; width: 20px; height: 20px; margin-right: 5%;"/>
                        </button>
                    }
                    @if(userlibrary == "Ok")
                    {
                        <div id="RadioButtonGroup">
                            <div class="RadioBotton">
                                <input id="center" type="radio" name="position" value="1">
                                <label for="center">
                                    <img src="/icons/format_align_center_FILL0_wght400_GRAD0_opsz48.png" />
                                </label>
                            </div>
                            <div class="RadioBotton">
                                <input id="right" type="radio" name="position" value="2">
                                <label for="right">
                                    <img src="/icons/format_align_right_FILL0_wght400_GRAD0_opsz48.png" />
                                </label>
                            </div>
                            <div class="RadioBotton">
                                <input id="left" type="radio" name="position" value="3" checked>
                                <label for="left">
                                    <img src="/icons/format_align_left_FILL0_wght400_GRAD0_opsz48.png" />
                                </label>
                            </div>
                            <div class="RadioBotton">
                                <input id="justify" type="radio" name="position" value="4">
                                <label for="justify">
                                    <img src="/icons/format_align_justify_FILL0_wght400_GRAD0_opsz48.png" />
                                </label>
                            </div>
                        </div>
                        <input type="range" id="size" min="8" max="28" value="16"/>
                        <label for="size">Size</label>
                        <button id="AddBookLibrary" hidden>
                            <img id="AddBookLibraryImg"/>
                        </button>
                    }
                    @if(user == null)
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    }
                    else
                    {
                        <ul style="list-style-type:none; margin-right: 2%" >
                            <li id="UserName">
                               <div style="position:absolute; width: 60%;"> <div id="OnlineUser"></div></div>
                               @user.Name
                                <img id="UserImg" src="/img/@user.PhotoName">
                                <ul class="UserMenu">
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="User" asp-action="Index">My Page</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="User" asp-action="FreandPage">My Freands</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Books" asp-action="UserLibrary">My Library</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Books" asp-action="Index">Add Book</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Login" asp-action="Update">Change data</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Login" asp-action="Exit">Exit</a>
                                    </li>
                                </ul>
                            </li>
                             
                        </ul> 
                    }
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MoonBookWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



