@{
    var user = ViewData["AuthUser"] as User;
    var freands = ViewData["Freands"] as String;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoonBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoonBookWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoonBook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Library">Library</a>
                        </li>
                    </ul>
                    @if(freands == "Ok")
                    {
                          <input id="search_user_text" type="text">
                          <button id="search_user">
                              <img src="/icons/search_FILL0_wght400_GRAD0_opsz48.png" style=" display: flex; justify-content: center; width: 20px; height: 20px; margin-right: 5%;"/>
                          </button>
                    }
                    @if(user == null)
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    }
                    else
                    {
                        <ul style="list-style-type:none; margin-right: 2%" >
                            <li id="UserName">
                               <div style="position:absolute; width: 60%;"> <div id="OnlineUser"></div></div>

                               @user.Name
                                <img id="UserImg" src="/img/@user.PhotoName">
                                <ul class="UserMenu">
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="User" asp-action="Index">My Page</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="User" asp-action="FreandPage">My Freands</a>
                                    </li>                               
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Books" asp-action="Index">Add Book</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Login" asp-action="Update">Change data</a>
                                    </li>
                                    <li>
                                        <a class="link-with-icon" asp-area="" asp-controller="Login" asp-action="Exit">Exit</a>
                                    </li>
                                </ul>
                            </li>
                             
                        </ul> 
                    }
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MoonBookWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



